[2021-02-12 16:24] carloshgaray opened #2 "automate onboarding this repo and setting up local dev env for mac"
I'm currently seeing this issue after having followed instructions:

[code]

[code]

[2021-02-12 16:33] tkjones117 commented on #2
@carloshgaray where is your `Chromium` executable? And what is in your .env file - I assume just `/Applications/Chromium`?

My `Chromium` is here: `/Applications/Chromium.app/Contents/MacOS/Chromium` - I moved it there from my Downloads after downloading.
And my .env file has: `CHROMEPATH="/Applications/Chromium.app/Contents/MacOS/Chromium"`

[2021-02-12 16:34] livgust commented on #2
@tkjones117 we're hopping on a Zoom to work on this if you're interested.

[2021-02-12 16:35] tkjones117 commented on #2
sure! you can post here or email me at (github username)@gmail.com

[2021-02-12 16:53] tkjones117 commented on #2
PR https://github.com/livgust/covid-vaccine-scrapers/pull/1 will make this clearer :)

[2021-02-12 17:29] #2 closed

[2021-02-12 18:19] carloshgaray opened #3 "add CVS"
we want to add CVS to list of scraped availability

[2021-02-12 19:40] livgust opened #5 "Add South Boston Community Health Center"
Notes from spreadsheet:
EASY. MyChart. http://bit.ly/3t8A7AJ is actual link for availability. We'll want to use the link in the Website column as the sign-up link though. There's a request https://mychartos.ochin.org/mychart/OpenScheduling/OpenScheduling/GetOpeningsForProvider that returns JSON info on availability instead of needing to scrape HTML.

[2021-02-12 19:40] livgust opened #6 "Add Stop and Shop"
Notes from spreadsheet:
EASY FIRST PASS. Same system as Hannaford - when I can get to the actual scheduling page though (if there's a place with availability) it seems a little rough to scrape, but it would be easy to do a first pass and just tell if there are appointments available or not (just not how many).

[2021-02-12 19:41] livgust opened #7 "Add Pediatric Associates of Greater Salem"
Notes from spreadsheet:
EASY. Uses athenahealth. There's a request https://framework-backend.scheduling.athena.io/v1/graphql with post data "operationName: "SearchAvailabilityDates"" that gives us all the data we need; if we'd prefer to have an api hook into that, I can probably ask for it from coworkers. - Olivia

[2021-02-12 19:41] livgust opened #8 "Add UMass Memorial HealthAlliance"
EASY. Another MyChart that goes straight to availability.

[2021-02-12 19:41] livgust opened #9 "Add UMass Memorial Marlborough Hospital"
Another easy MyChart one

[2021-02-12 19:42] livgust opened #10 "Add UMass - Front Street (Mercantile Center)"
another easy MyChart one.

[2021-02-12 19:43] livgust opened #11 "Add BayState Franklin Medical Center & Baystate Health Whitney Avenue Vaccine Center"
Note from spreadsheet:

EASY to determine if there are/are not appointments available. Not sure re: # of slots because website had nothing available when I visited on 2/12.

[2021-02-12 19:43] livgust opened #12 "Add Heywood Healthcare"
notes from spreadsheet:
MEDIUM. Requires parsing a paginated table.

[2021-02-12 19:44] livgust opened #13 "Add South Lawrence East Elementary School"
MEDIUM. Some interaction required.

[2021-02-12 19:44] livgust opened #14 "Add Harvard Vanguard"
EASY for yes/no appt availability. If no appointments available, redirects to https://myhealth.atriushealth.org/fr/No_Slots.asp

[2021-02-12 19:44] livgust opened #15 "Add trinity EMS"
HARD. Requires paging through a calendar view and clicking on dates to see slots available. Didn't notice any helpful routes returning JSON or anything.

[2021-02-12 19:45] livgust opened #16 "Add Big Y"
HARD. requires interacting with a chat bot and only gives availability for 7 days past the date chosen. So lots of typing required.

[2021-02-12 19:45] livgust opened #17 "Add Holtzman Medical Group at Mt. Ida Campus"
MEDIUM. May require pagination. No routes but should be easily scrapable.

[2021-02-12 19:45] livgust opened #18 "Add Lynn Tech High School Field House"
EASY. Embedded MyChart iFrame, accessible directly via https://mychart.ochin.org/mychart/SignupAndSchedule/EmbeddedSchedule?id=13300632&vt=1089&dept=133001025&view=plain&public=1&payor=-1,-2,-3,4655,4660,1292,4661,5369,5257,1624,4883&lang=english1089. That's only for the first dose though.

[2021-02-12 19:46] livgust opened #19 "Add PriceChopper"
EASY. PriceChopper has public API https://scrcxp.pdhi.com/ScreeningEvent/e047c75c-a431-41a8-8383-81613f39dd55/GetLocations/01201?state=MA, where 01201 is the zip

[2021-02-12 19:46] livgust opened #20 "Add Mercy Medical Center"
HARD. Requires scraping a paginated calendar.

[2021-02-12 19:46] livgust opened #21 "Initialize scraper for Wegmans"
HARD to determine if appts are available.

[2021-02-12 19:47] livgust opened #22 "Add locations we can't scrape"
See spreadsheet: https://docs.google.com/spreadsheets/d/1oI1-jiuF-btQVxOB5txwDPwrXzVo-wdJPoKCgs2zXQI/edit?usp=sharing

If front-end work is needed, create an issue in the macovidvaccines.com repo.

[2021-02-12 19:48] livgust opened #23 "Add links to where we found the info"
I think it'd be nice to be able to go to the website where we scraped the info. For example, maybe we say Wegman's has no availability but we have a link that will take you to their landing page so you can check it out yourself if you want. In this issue, we'd be adding that link to all locations.

If you tackle this issue, please create a front-end issue as well to display this information.

[2021-02-12 19:55] livgust opened #24 "Fix Hannaford"
Hannaford's scraper tends to be flaky; we should investigate and also add functionality (if possible) to figure out what sites have how much availability. I wasn't able to do that in a first pass because none of the locations had availability so I didn't know what the display looked like.

[2021-02-12 21:19] tkjones117 commented on #5
If I comment on this, will this let you assign to me? let's find out...
[code]
https://docs.github.com/en/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users

[2021-02-12 21:57] tkjones117 commented on #5
So I understand that eventually the item on the website will need to link to http://bit.ly/38SUWs2.

But as far as getting actual availability, I'm not seeing any JSON info returned from https://mychartos.ochin.org/mychart/OpenScheduling/OpenScheduling/GetOpeningsForProvider - only getting a 404.

Seems like I will need to scrape HTML instead in this case, starting from https://mychartos.ochin.org

[2021-02-12 22:46] tkjones117 commented on #5
So I'll use Puppeteer to visit the site and catch this JSON response.

[2021-02-13 01:58] carloshgaray commented on #3
General procedure will be:

1. Add list of all zip codes in MA to raw json and/or http request
2. For each zip code, enumerate all CVS locations to create database of all stores, their addresses, contact info, etc.
3. For each zip code, enumerate all available vaccine slots for the next 30 days
4. Serialize results in expected output JSON output format

[2021-02-13 02:41] johnhawkinson commented on #3
Re 1, why not just use https://www.cvs.com/immunizations/covid-19-vaccine.vaccine-status.ma.json which does `getInventorybyCity`?

Hrm…ok, answer: Because it doesn't give you zipcodes and city names are insufficient, e.g. Cambridge's site only shows up in CVS's search under "Alewife, MA" even though their address has it in Cambridge (where it indeed is).

[2021-02-13 04:19] zpeyton commented on #19
JSON response is great but when replacing the zip with other zip codes I get an empty array. Might need a different event hash ("e047c75c-a431-41a8-8383-81613f39dd55") for different locations.

[2021-02-13 05:51] pfurbacher opened #27 "Zipcode for Hannaford Middleborough should be 02346"
Currently, in ```sites.json``` the zip code for the Middleborough store is "01569".

According to a usps.com zip code search, the correct zip code is "02346".

(Looks like a copy-paste error from the Uxbridge data.)

[2021-02-13 08:55] adpjay commented on #14
I'm working on this one and will have a PR later today.
The following 3 requests need to be made:
https://myhealth.atriushealth.org/fr/
https://myhealth.atriushealth.org/DPH
https://myhealth.atriushealth.org/OpenScheduling/OpenScheduling/GetScheduleDays

And the __RequestVerificationToken hidden input field needs to be pulled out of the DPH request and added as a header to the GetScheduleDays POST

[2021-02-13 11:38] benpatterson commented on #9
I'll plan on tackling this later today unless someone beats me to it (which, like, is totally cool if ya do!)

[2021-02-13 13:02] livgust commented on #9
Hey @benpatterson, FYI @tkjones117 is working on another MyChart one so you might want to check in with her to see if you are duplicating efforts! I'm not sure how much code will be reusable between the different Epic/MyChart websites but I imagine there will be some overlap.

Thanks!

[2021-02-13 13:11] zpeyton commented on #27
This has been fixed in the zach-test branch.

[2021-02-13 13:49] tkjones117 commented on #5
FYI - I'm mostly available to work during the work week, less so on the weekends/holidays. So I'll pick this up on Tuesday 2/15, unless someone else is very eager to. What I've posted is as far as I've gotten.

[2021-02-13 13:49] tkjones117 commented on #9
@benpatterson I've posted updates here: https://github.com/livgust/covid-vaccine-scrapers/issues/5

[2021-02-13 15:02] livgust commented on #27
Re-opening and assigning to @zpeyton until his branch is merged. In the future, @zpeyton, if you branch off this repo (vs forking) could you make branch names more descriptive? Thanks!

[2021-02-13 15:19] zpeyton commented on #27
No prob. That branch was literally just a test. I have made a new branch called Add-PriceChopper which has those changes including this fix: https://github.com/livgust/covid-vaccine-scrapers/pull/30

[2021-02-13 16:46] zpeyton commented on #24
I finally got an open appointment! Will start on this. May require playing around with opening a new browser or deleting cookies as I got the following response when sending too many requests within a short amount of time:

![Screen Shot 2021-02-12 at 10 43 30 PM](https://user-images.githubusercontent.com/1585834/107855541-ec5c9080-6df0-11eb-8959-3dc2f3ea3976.png)

Also found this as a possible so

[2021-02-13 19:46] zpeyton commented on #24
Almost forgot. I wanted to add a follow up comment regarding the possible cookie issues here. When trying multiple zip codes doing a `page.goto(sites.Hannaford.website);` seems to reset their number of tries without clearing cookies. I've run the script multiple times without getting locked out.

[2021-02-13 19:55] johnhawkinson opened #32 "Add Twitter notifications for new vaccine availability"
Cribbing this idea from NY's https://twitter.com/turbovax, we should provide asynchronous notifications of new vaccine availability, so people can subscribe and find out when there are new sites available.

(This will be much more important when the floodgates open to new Priority Groups).

Twitter is an easy way to do this, and a more difficult one is allowing email signups.
Although the latter c

[2021-02-13 20:18] benpatterson commented on #9
Calling out I've been working on getting my dev environment set up, but am not done, yet. I will spare folks the grief, but minimal progress, I'm afraid. I hope to get back to it tonight or tomorrow.

[2021-02-13 20:29] tkjones117 commented on #9
All good @benpatterson! Feel free to post questions in Slack too, I’m sure if you’re running into env setup issues then others are too.

[2021-02-13 21:48] benpatterson commented on #9
Thanks @tkjones117! I've sorted it out and will ping back when I've got more for folks. ✔️

[2021-02-14 18:10] #14 closed

[2021-02-14 21:40] benpatterson commented on #9
Just calling out that I've got some basics in place but not at the point where we have data. Looks like I will need to get the verification token & (guessing) set a cookie in order to make the request. The call to mychart looks like it needs to be a `POST` so likely need to put it together with a `GET` beforehand for setting those up.

Will put in more time tomorrow (which is a day off for me).

[2021-02-15 03:10] livgust commented on #18
#33

[2021-02-15 03:10] #18 closed

[2021-02-15 15:08] zpeyton opened #36 "Separating scrapers"
Without getting into too many details, in my past scraping work we ran each site separately. I pushed a couple ways we could go about doing that below. Would be interested in any feedback from the group.

See options here: https://github.com/livgust/covid-vaccine-scrapers/compare/dynamic-scrapers

Usage would be:

ENV `SCRAPERS="PriceChopper Hannaford"`

or

`node main.js PriceChopper Hannaford`

[2021-02-15 15:29] adpjay commented on #36
I like the separate argument approach. I've been commenting out the others from the index.
It might be a good idea to add an argument parser if we want to add some more sophisticated arguments. But starting with the positional argument is a good start!

[2021-02-15 16:30] livgust opened #37 "BMC clinics"
There are 5 new locations that are giving our vaccines for residents. https://mychartscheduling.bmc.org/MyChartscheduling/covid19#/scheduling

[2021-02-15 16:33] zpeyton commented on #36
Indeed, commenting out does work but then you have to remember to discard those changes. I've experienced merge conflicts in those spots as well, 2 in that index file and 1 in `data/sites.json`.

Plus, there are also scaling issues if running all the sites at the same time. Right now there is only one log file so to find the brand you're looking to debug in that log you'd need to navigate a potent

[2021-02-15 16:55] adpjay commented on #36
I agree. Commenting it out and having to remember to uncomment is not preferred. Having the ability to select which site you want to run or test is much better. I like the separate command-line argument approach.

[2021-02-15 20:14] benpatterson commented on #9
Posting my changes on top of @adpjay 's MyChart/MassMercantile branch.

Mass Memorial Marlborough has not had availability every time I've checked, so I can't say I've verified end-to-end

[2021-02-16 01:18] livgust opened #38 "Atrius Needham not showing correct numbers"
Hello Olivia-

I notice your website indicates no appointments available at Atrius
in Needham, but their site shows multiple openings.
Maybe there's a glitch in getting the info to cross.

https://myhealth.atriushealth.org/fr/

Thanks-
I hope this task isn't wearing you down. You're providing a
wonderful service.
Jon

---

Note from Olivia: We are reporting this:
![image](https://user-images.githu

[2021-02-16 01:35] adpjay commented on #38
I was just about to log a bug for a simliar problem:

The API shows this data:
![image](https://user-images.githubusercontent.com/6526064/108007552-44032380-6fcc-11eb-8281-6b7be6abebd2.png)

The UI shows this data:
![image](https://user-images.githubusercontent.com/6526064/108007579-55e4c680-6fcc-11eb-9ebf-61a726de4555.png)

This problem seems be be afflicting:
Atrius
Lynn Field House
Price Choppe

[2021-02-16 01:46] livgust commented on #38
I'm not seeing that, @adpjay . I just checked and what I'm seeing our website get from the API endpoint matches what is being rendered. However, there is definitely a distinct difference between the official UI for Atrius availability and what we're scraping.

[2021-02-16 02:09] adpjay commented on #38
I have a fix for the fact that we're not seeing the 2/23 date. It was my first site. I didn't realize we needed to loop over future weeks. I just a simple MyChart site, so I could just use the general mychart code.

If you look at the two images you added to the defect:
We are showing availabilities on 2/19 and 2/20, but Atrius is showing 2/18 and 2/19.
The image I added with the json data also sh

[2021-02-16 02:19] livgust commented on #38
Right; there's a day offset but it's happening on the scraping side, not the front-end side was my point. Good find re: subsequent weeks!

I really think this is a UTC thing. It's like 2 AM tomorrow UTC so we crossed the date line.

[2021-02-16 02:38] livgust commented on #38
UGH yup
![image](https://user-images.githubusercontent.com/8116945/108011923-21760800-6fd6-11eb-818b-40e760cb55dc.png)
https://stackoverflow.com/questions/7556591/is-the-javascript-date-object-always-one-day-off

[2021-02-16 11:38] adpjay commented on #38
So, do we need to change all the scrapers to return an east coast time stamp? Will the UI handle the full timestamp ok?

[2021-02-16 15:14] livgust commented on #38
I think we can fix this by just adding "T00:00" to the end of the DateISO, which tells the Date object to stay in our timezone.
![image](https://user-images.githubusercontent.com/8116945/108082111-b7924880-703f-11eb-8767-5c11e03cdc6b.png)
I'll look and see if any other scrapers are using Date() but I think most we're just scraping the text to get MM/DD/YYYY so might not be a problem except for MyC

[2021-02-16 15:27] livgust commented on #38
I see two other places where we do date conversions like that; I'm going to review your PR and then make a fix to all 3 locations on a separate branch.

[2021-02-16 15:37] #10 closed

[2021-02-16 15:42] livgust commented on #38
Going to fix this in a separate PR.

[2021-02-17 01:39] tkjones117 commented on #5
PR: https://github.com/livgust/covid-vaccine-scrapers/pull/41

[2021-02-17 02:25] tkjones117 commented on #8
This should be easy enough, similar to https://github.com/livgust/covid-vaccine-scrapers/issues/5

I can pick this up tomorrow (Wed 2/17).

[2021-02-17 19:25] tkjones117 commented on #5
Closing since this was completed in https://github.com/livgust/covid-vaccine-scrapers/pull/41.

[2021-02-17 19:25] #5 closed

[2021-02-17 19:34] adpjay commented on #38
There were two bugs here:
1. We weren't scraping future weeks from Atrius showing fewer appointments than there actually were.
2. The MyChart sites had a bug with the date being UTC and showing appointments for the wrong day.

Both of these problems are fixed.

[2021-02-17 19:34] #38 closed

[2021-02-17 23:06] adpjay opened #43 "Add Lynn Field House Restrictions Text"
Lynn Field house is restricted to "eligible people who live and work in Lynn and Nahant, (or are patients of Lynn Community Health Center) "

If we add that text to a "restrictions" property of the json output of the scraper, the UI will add a restriction indicator.

[2021-02-18 21:42] tkjones117 commented on #6
PR: https://github.com/livgust/covid-vaccine-scrapers/pull/51

[2021-02-18 23:39] adpjay opened #55 "Preserve previous scrape results in the event of a scraper failure"
- Read the previous scrape result from the S3 data.json file.
- Run all the scrapers and collect the results. Add a timestamp to the result object indicating the updateTime.
- Create a new result from the scraper results. Any entries that failed to scrape will not be in the new scrape results
- Iterate over all the results from the previous data.json and add all missing scrape results with the old

[2021-02-19 00:58] #19 closed

[2021-02-19 11:10] adpjay commented on #43
This was fixed by https://github.com/livgust/covid-vaccine-scrapers/pull/46

[2021-02-19 11:10] #43 closed

[2021-02-19 11:14] adpjay opened #56 "Add the Natick Mall"
The Natick Mall is a mass vaccination site. The scheduling site is here:
https://home.color.com/vaccine/register/natickmall

[2021-02-19 18:23] #56 closed

[2021-02-19 19:52] zpeyton opened #59 "Add scraper for Lowell General"
Currently no available appointments.

[2021-02-19 23:27] harcod opened #60 "Add "Indoor/DriveThru" to scrapers"
All  vaccination sites are either "Indoor" or "Drive Through".  This information could be useful for people that don't wait to or physically cannot get out of their car.

The information is available at vaxfinder.mass.gov on the location's "[Details page](https://vaxfinder.mass.gov/locations/orleans-department-of-public-works/)"

![image](https://user-images.githubusercontent.com/546007/108572175-

[2021-02-20 03:02] #3 closed

[2021-02-20 11:15] adpjay opened #63 "Add Dartmouth Mass Vaccination Site"
The appointment search url is
https://curative.com/sites/25336#9/41.6419/-71.0043

[2021-02-20 12:01] adpjay commented on #63
This seemed like an easy one. I just added the site id of 25446 to Curative.js scraper. However, we're showing a lot more appointments that way than the actual Curative site is.

The json returned from https://labtools.curativeinc.com/api/v1/testing_sites/25336 shows entries like the one below. I wonder if the "Disabled" indicator means that they have the capacity but they haven't released it yet.

[2021-02-20 14:57] aaminoff opened #65 "Add Walgreens (multiple sites)"
liv  9:41 AM
I have some code but it's not checked in. It works except Walgreens detects when I run headless and blocks me
9:41
So I've been pressuring them to make their API public (right now I have to log in to use it)

[2021-02-20 16:42] aaminoff commented on #36
You can in fact do node main.js PriceChopper Hannaford . The functionality to read the cmd line args is in site-scrapers/index.js. So either someone added this functionality or it was there all along. Should we mark this issue as resolved?

[2021-02-20 16:51] aaminoff commented on #21
I am considering trying to take this one on. I can copy UMassAmherst.js and look for the phrase "All available vaccine* appointments are reserved at this time." on https://www.wegmans.com/pharmacy/ , but that is for all Wegmans in all states. Also, Wegmans has 4 sites in MA. I would not want to claim there were appointments available when the appointments are in New Jersey or only at one of the 4

[2021-02-20 17:03] aaminoff commented on #21
I submitted a contact form reaching out to them.

[2021-02-20 17:21] zpeyton commented on #36
@aaminoff thanks for the reminder, I was busy with #3 and #62. Just in case it is useful in the future, it is possible to determine who made changes by looking at the git log, or GitHub has a nice web based UI for seeing the blame. Ex: https://github.com/livgust/covid-vaccine-scrapers/blame/master/site-scrapers/index.js

I think the work being done in #55 covers some of the scaling issues that cam

[2021-02-20 17:21] #36 closed

[2021-02-20 19:54] #9 closed

[2021-02-21 02:13] #59 closed

[2021-02-21 02:15] #63 closed

[2021-02-21 03:17] livgust opened #68 "Natick Mall: shows 0 availability but still shows link and counts as available"
![image](https://user-images.githubusercontent.com/8116945/108614529-4e0c9400-73c9-11eb-8d98-edebba32e5a1.png)
For some reason the boolean props say that the location has availability but the number of slots available is zero. Assigning Jay since he created the scraper; anyone can grab if they beat him to it.

[2021-02-21 17:12] aaminoff commented on #65
My neighbor Eric said he might be able to put us  in touch with folks in the IT dept at Walgreens. Not to raise hopes too much, it is a big company.

[2021-02-21 20:41] livgust commented on #55
Resolved by #52

[2021-02-21 20:41] #55 closed

[2021-02-21 21:37] tkjones117 commented on #24
@zpeyton see my issue and cookie deletion fix here for Stop & Shop: https://github.com/livgust/covid-vaccine-scrapers/pull/51

I haven't seen any appointment availability come up yet for Stop & Shop.

[2021-02-21 21:38] tkjones117 commented on #24
@livgust do you recall in which way the Hannaford scraper was flaky?

[2021-02-21 23:22] adpjay commented on #68
I think I see what the problem is. Give me a few minutes.

[2021-02-22 00:00] dragthemagicpuffin commented on #7
Olivia, can you assign this to me?
I don't have knowledge of the athena scheduling graphql backend, but this does seem like an easy one to start with.

[2021-02-22 01:31] dragthemagicpuffin commented on #7
Their website (pags.com) says "PAGS does not yet have the ability to provide COIVID vaccines for our patients. Please do not call our office to ask about scheduling a COVID vaccine"
So... I doubt this is the highest priority site to scrape.

But... Olivia, where are you getting the info about the athena.io POST request? I am unsure how to retrace your steps.

[2021-02-22 02:36] livgust commented on #7
Hi!!! You got it! The sign-up page is linked on vaxfinder.mass.gov. The data all used to be in a spreadsheet that was periodically updated and available on the state website but they stopped publishing it once vaxfinder went live.
Here's the site: https://consumer.scheduling.athena.io/?departmentId=2804-102

When I logged on the day I reported this issue, I didn't get the "there are no appointment

[2021-02-22 04:29] dragthemagicpuffin commented on #7
That page (consumer.scheduling.athena.io) does not POST a SearchAvailabilityDates operation when I visit but rather a GetFilters operation. That graphql response is
{"data":{"getFilters":null}}

Difficulties:
- I don't have an example of SearchAvailabilityDates, and not sure how to make one successfully. (I get a 400 bad request...)
(Does this operation come after a GetFilters? before? or instead

[2021-02-22 05:32] livgust opened #73 "Atrius keeps showing availability when there is none"
Atrius keeps saying 47 slots available (12:13-12:18AM, 2/22) but when I click I'm redirected to No_Slots.asp. Timestamp for Atrius is current.
IDK why our endpoint (which seems to be for the right location) is giving us results but the sign-up page clearly isn't. As a first pass, we should look and see if the sign-up link redirects us to No_Slots.asp. If it does, mark no availability.

Assigning @

[2021-02-22 13:47] #73 closed

[2021-02-22 14:18] #68 closed

[2021-02-22 17:06] livgust commented on #65
branch is `walgreens` for WIP
My aunt used to work at the tech side of Walgreens; she got me in contact with someone who said it was escalated to their IT dept to make that API public. Haven't heard since last Tuesday.

[2021-02-22 21:14] livgust opened #77 "East Boston Neighborhood Health Center"
multiple locations.
sign-up link: https://patient.lumahealth.io/survey?patientFormTemplate=601d6aec4f308f00128eb4cd&user=600f45213901d90012deb171
API (requires token, didn't figure out how to get it): https://api.lumahealth.io/api/scheduler/availabilities?appointmentType=6011f3c4fa2b92009a1c0f43&date=%3E2021-02-22T00%3A00%3A00-05%3A00&date=%3C2021-03-01T23%3A59%3A59-05%3A00&facility=6011f3c1fa2b92

[2021-02-22 23:17] livgust commented on #37
WIP in branch `boston-medical-center`

[2021-02-23 01:19] dragthemagicpuffin commented on #7
I'd like to push what I have and move on. @livgust  I think I need access to the repo (push gets me a 403 error).

[2021-02-23 15:27] harcod opened #79 "Validate Data returned from the scrapers"
As the we are adding functionality (like geocoding or timestamping), it is becoming necessary to touch each individual scraper to add it.

We need to validate that the scrapers are returning the bare minimum required by the other modules (front-end, caching) so that new scrapers don't break the system.

For example:
Each location needs to have **hasAvailability** defined to either _true_ or _false

[2021-02-23 16:26] livgust commented on #79
Hey @harcod , sorry to throw this on you but I've been working on something similar in a branch off of this project. `results-shape-test`
I have "no unexpected keys" passing, but haven't added lat & long yet. I was going to work on types, conditional keys, and other validity checks next. You can kinda see where I was going at the top of the main.js test file.

[2021-02-23 19:02] harcod commented on #79
No problem. I'll just close my PR #80.

[2021-02-23 21:13] #27 closed

[2021-02-24 18:50] aaminoff commented on #21
Dear Alex,

Thank you for contacting us requesting to partner with Wegmans to assist in scheduling COVID-19 vaccine appointments that are available by accessing our system.

Your request has been forwarded to our Pharmacy team for review.

We want to thank you for giving us the opportunity to respond to your request.

Have a good day.

Sincerely,

Kim Ayles
Customer Care Specialist

Ref # 2271353

[2021-02-24 20:24] tkjones117 opened #83 "Hannaford Middleborough appears twice"
Hannaford (Middleborough) appears twice in the scraper output. One of these has the Uxbridge data in it.

[code]

[2021-02-24 20:25] tkjones117 commented on #83
To repro, run `node main.js` on `master`. This doesn't appear when we just run `node main.js Hannaford`.

[2021-02-24 20:31] tkjones117 opened #84 "Scrape S&S and Hannaford appointments"
Currently we just scrape for availability = false, and upload a screenshot and HTML to S3 when we see actual appointments.

Let's reconstruct the API calls to actually grab the appointment data.

I have the .har file on my laptop to retrace steps.

[2021-02-24 20:32] tkjones117 commented on #24
@zpeyton Can we close this in favor of https://github.com/livgust/covid-vaccine-scrapers/issues/84?

[2021-02-24 20:53] zpeyton commented on #24
@tkjones117 Indeed, thanks for making the new issue.

[2021-02-24 20:53] #24 closed

[2021-02-24 20:55] zpeyton commented on #84
@tkjones117 Thanks again for starting fresh here. Looking forward to working with you on this.

[2021-02-24 21:57] kriation commented on #12
@livgust, I am actively working on adding this scraper.

[2021-02-24 23:01] tkjones117 commented on #83
<img width="965" alt="Screen Shot 2021-02-24 at 5 57 57 PM" src="https://user-images.githubusercontent.com/10677676/109077538-4fd89f00-76ca-11eb-9a10-a733952b7f7e.png">

[2021-02-25 04:18] edcous opened #86 "Add Albertsons"
Are there plans to add Albertsons scrapers?

[2021-02-25 12:38] harcod opened #87 "MAImmunizations: Waiting Room"
MAImmunizations.org added a "waiting room" feature early on Thursday 2/25.

At the time of this issue the wait times are 5 minutes.  Our site hasn't scraped new data in the last 14 minutes.

[2021-02-25 14:23] johnhawkinson opened #88 "Preserve HTML/JSON/&c. from all scrapers"
As noted on Slack this morning:

there seemed to be broad support for this at this morning's standup.
@zpeyton noted that `Hannaford.js` already does something similar, by loading `s3.js` and invoking it as:

[code]

This proposal is for something more automatic that happens for all downloads that all scrapers do, because it's hard to predict what we will need until it is no longer available.

My

[2021-02-25 20:05] livgust commented on #87
@harcod any suggestions? I think this is starting to really show that we need to separate our scrapers out and let them run independently like others have suggested.
When the wait time is under ~3 minutes we can do a scrape currently

[2021-02-25 20:12] harcod commented on #87
Now the state has given up and simply redirects everyone to a "No Appointments Found" page.  _At least this is hosted on AWS! with a lovely url_
https://cw2-errorpages.s3.us-east-2.amazonaws.com/no-appointments.html

I agree with separating the scrapers out as a superior architecture in general.

[2021-02-25 20:14] #65 closed

[2021-02-25 20:15] livgust commented on #32
Given that the bot @vaccinetime does this, I'm closing it. If we do work in this area it'll likely be email & text notifications I think. Certainly would be high-impact.

[2021-02-25 20:15] #32 closed

[2021-02-25 20:17] livgust opened #90 "Lambda won't allow us to write files"
We're writing screenshots and HTML for debugging - instead, we need to save that in process memory and just upload straight to S3. In development we can still write the files for manual inspection.

[2021-02-25 20:18] livgust commented on #90
@zpeyton - assigning you since you're closest to the code, feel free to unassign

[2021-02-25 20:19] livgust commented on #7
Sure! Sorry for the delay. Adding you now.

[2021-02-25 20:34] harcod commented on #87
I escalated this to an issue this morning just so that everyone might see it.  Feel free to close this issue in favor of a more specific call-to-action set of issues.

[2021-02-25 21:22] livgust commented on #37
If anyone is interested, I have a half-done scraper for BMC in the boston-medical-center branch. I finally nabbed a response with an actual available appointment. This is a MyChart scraper but needs some additional work because the one endpoint spans 5 locations, which are listed as "departments." So right now we just show general overall availability as if there were only one location.

TODO: Alw

[2021-02-26 02:46] #90 closed

[2021-02-26 15:07] harcod opened #96 "Curative: "The event has ended""
We are currently showing intermittent availability at Curative, however the sign up link redirects to "_The event has ended_"

https://curative.queue-it.net/afterevent.aspx?c=curative&e=curativemaprod2&t=https%3A%2F%2Fcurative.com%2Fsites%2F25336&cid=en-US

Can we change this scraper to report "no availability" in this redirection case?

[2021-02-26 15:08] harcod opened #97 "Walgreens (Hyannis) showing incorrect availability"
The site is currently showing "1 slot" available at Walgreens (Hyannis).  However, we I run the scraper locally my result shows _no availability._

[2021-02-26 16:08] livgust commented on #97
I just ran locally under the same credentials and I confirmed I am NOT seeing any availability for Hyannis.

Maybe someone could add some logging and I can publish that to Lambda?

[2021-02-27 05:42] edcous commented on #86
Or I think in Massachusetts it's Shaws (subsidiary).

[2021-02-27 13:17] iann commented on #97
I took at a look at this last night. I added some timestamps in #91. However, the core of the issue is happening in the `mergeResults` when we merge with cached Data since the keys generated are slightly different (zip code has no leading zero). I'm not sure how this data made it into the cache.

[2021-02-27 15:43] harcod commented on #97
Here's a quick fix to clean up the site data.
Why don't we just change the key that is generated?

in dataDefaulter.js, line 45:
`.replace(/[^\w]/g, "")`

to
`.replace([^1-9bcdghj-np-tv-z]/g, "")`

This will remove all of the vowels and the '0' from the key.
**road**, **rd** match as _2631_
**02601**, **2631** match as _2631_

Then the merge code won't use the old bad data.

Here are the keys abov

[2021-02-28 02:54] #97 closed

[2021-02-28 19:25] kriation commented on #6
@tkjones117 (cc: @livgust), can this issue be closed since #51 is merged?

[2021-02-28 19:46] #6 closed

[2021-02-28 21:36] Kathleen-Francis commented on #8
I'll start working on this one (I don't have access to assign to myself).

[2021-03-01 19:57] pfurbacher commented on #15
Can you assign it to me? I have much of it written -- stepping through each month in the calendar, evaluating days for appointments. What remains is verifying the selectors for days with appointments, parsing the number from XHR data for such days, and posting to s3 when calendar day attributes change to possibly reflect availability.

[2021-03-01 20:10] #7 closed

[2021-03-01 20:59] tkjones117 commented on #8
Assigned you Kathleen!

[2021-03-02 01:44] iann opened #107 "CVS Scraper Offline?"
While doing some data analysis of appointment availability I found that since 2/13 until now the CVS scraper has not found availability. I find this odd since I know first hand two people who were able to get appointments at CVS via their website, this leads me to believe that the scraper is not functioning as intended.

Additionally going to https://www.cvs.com/immunizations/covid-19-vaccine.vacc

[2021-03-02 01:49] johnhawkinson commented on #107
CVS needs the Referer:  [sic] header to work. I use

[code]

and it looks to me like the scraper is properly retrieving and returning the right file.
That doesn't mean it isn't lying, though.

[2021-03-02 01:56] iann commented on #107
Doh! That pulls up the JSON. Still not sure why it's never seen availability. Hmm.

[2021-03-02 02:04] zpeyton opened #109 "lowell add lead zero to month"

[2021-03-02 11:50] harcod opened #110 "Curative: Showing availability that isn't searchable"
I just saved the file from https://labtools.curativeinc.com/api/v1/testing_sites/25336 just in case it changes.  There is a key at new the bottom of the file...

`  "visible_in_search": false,`

I saved the full API results in case you need to see it.

![image](https://user-images.githubusercontent.com/546007/109644147-1c12d480-7b23-11eb-9be2-2f423395667c.png)

![image](https://user-images.githubu

[2021-03-02 13:34] #110 closed

[2021-03-02 14:56] #84 closed

[2021-03-02 15:13] johnhawkinson opened #113 "A data quality mechanism to detect unbookable appointments"
We saw last night in #110, scrapers can discover availability that is not publicly available and publicly bookable.
No matter how good our scrapers are[*], this will continue to happen.

Therefore, we should attempt to detect this.
(This probably requires a database server or other intermediate layer between the scrapers and the front end).

Ideally, we would notice when a large number of appointm

[2021-03-02 16:43] iann commented on #107
Closing this. This is more of an issue with my computer not properly able to handle all the data I'm searching.

[2021-03-02 16:43] #107 closed

[2021-03-03 23:33] zpeyton commented on #83
I believe @livgust fixed this. Will close.

[2021-03-03 23:33] #83 closed

[2021-03-04 14:14] johnhawkinson opened #116 "CVS is overoptimisic"
As we kind of knew, the CVS front-end JSON availability is overoptimistic, and sometimes stale.

I saw that this morning, with, e.g., Cambridge availbility reported but not actually present.

This suggests it might be worth the effort to probe more deeply into attempting to actually book an appointment to get site-specific, time-specific, and numeric availability.

I am Not Excited about working o

[2021-03-04 15:29] tkjones117 opened #117 "Deploy repo continuously"
The frontend repo automatically deploys on merging to master (handled by AWS Amplify).

Making this repo deploy continuously will require:
- zip up the file (already have an npm command for that)
- then upload to S3
- link to Lambda
- publish new version
- (ideally do a test run)
- then update the production alias

^ I grabbed these high-level steps from [a Slack thread](https://macovidvaccines.sl

[2021-03-04 15:46] harcod commented on #96
A related case is when the redirection takes you to the curative.com site and it just says "No Appointment Times" (or something like that -- I don't have an example")

We were attempting to use the API flag `visible_in_search` but this appears to always be false and worthless to us.

[2021-03-04 18:35] zpeyton opened #118 "Fix Natick Mall response change"
We just pushed a change today that converts this from an array to an object wrapper with a `results` array inside it:

`{"results":[],"target_date":null}`

Sorry about the breaking change, but we don't expect any further breaking changes in the near future.

_Originally posted by @youssefm in https://github.com/livgust/covid-vaccine-scrapers/pull/57#discussion_r586896112_

[2021-03-04 18:41] zpeyton commented on #118
Apologies, I did not see this in master

[2021-03-04 18:41] #118 closed

[2021-03-04 20:40] #109 closed

[2021-03-04 20:58] jhalexand commented on #116
I can't be certain, but I have at least anecdotal evidence that CVS might have listed all the sites as available this morning (4am) that were going to release appointments today. I was running my own little crawler that sent push notifications to my phone just for CVS using the same .json file that I see the scraper here is using and while there are definitely issues with timeliness, I will say th

[2021-03-04 21:07] johnhawkinson commented on #116
For what it's worth, that's what most of the other scrapers do. When you get down to it it's just a `for (;;)` loop.

Anyhow, I remain unconvinced that this problem necessarily needs solving (it's "close enough"), and it sounds like you're in roughly the same place. Love to hear stronger opinions on either side.

[2021-03-04 21:20] livgust commented on #116
Thanks for chiming in @jhalexand!
I agree, the JSON file is not ideal. We'll have to see what straw breaks the camel's back here, I think...

[2021-03-05 00:25] Kathleen-Francis commented on #37
Can't assign this to myself, but I am starting to work on it!

[2021-03-05 01:24] zpeyton commented on #37
@Kathleen-Francis assigned you after accidentally assigning myself. Shows how much of an ass I am.

[2021-03-05 15:43] tkjones117 opened #123 "Retro action item: Document in wiki “How to write a scraper”"
- include examples of scrapers
- With no availability: upload info to S3, send text via Twilio or slack #bot channel via webhook (Zach has info)
- tips for unit testing it

[2021-03-06 23:33] #77 closed

[2021-03-07 03:52] iann commented on #116
Has anyone explored trying to get a CVS API key (https://developer.cvshealth.com)? I just put my name in and it's awaiting approval. This tile on their developer page looks promising.
<img width="347" alt="CVS developer page" src="https://user-images.githubusercontent.com/203504/110228365-85516980-7ece-11eb-8b1c-bad580e66edb.png">

[2021-03-07 17:21] zpeyton commented on #20
Will make init'd scraper for this and try to get notified when there are appointments via slack.

[2021-03-07 19:48] harcod opened #128 "Hannaford & StopAndShop: Remove "(code 1)""
Please see the following excerpt from the out.json file:

The "extraData" field is displayed by the front-end to the user exactly as it is sent in the json file.  We don't need this information in "extraData" at all because the front-end will display the appropriate message since "hasAvailability" is false.

![image](https://user-images.githubusercontent.com/546007/110252576-128ad180-7f54-11eb-982

[2021-03-07 22:09] #12 closed

[2021-03-08 13:17] harcod commented on #128
I'm reopening this issue as I think there was a misunderstanding.

You removed _"(code 1)"_ from the **message**, but you left _"No available appointments"_

The _response.extraData_ is displayed to the user as-is.  After reviewing the code, it appears that RxTouch.js is sending "debugging level" information back in this field as a matter of convenience or there is no other place.  If you need thi

[2021-03-08 14:54] #20 closed

[2021-03-08 15:03] tkjones117 commented on #117
@livgust Work has been started on this by @j256: https://github.com/livgust/covid-vaccine-scrapers/pull/121

Assigning this to @j256 for now.

[2021-03-08 15:05] livgust opened #131 "Migrate to database"
In preparation for data visibility, eligibility notifications, and availability notifications, having a proper database would allow us to more easily create these features.

Let's pick a DB structure and design and implement it. This would ideally include a backfill.

[2021-03-08 15:05] livgust commented on #131
(Duplicate of https://github.com/livgust/macovidvaccines.com/issues/132, closing that one.)

[2021-03-08 16:03] #128 closed

[2021-03-08 16:34] tkjones117 commented on #123
TODO: also make note of Zach's scraper template

[2021-03-08 16:36] tkjones117 commented on #131
I'm interested in working on this! But I won't have a decent chunk of time until later this week, so anyone can start brainstorming before me.
@zpeyton shared this as a potential option: https://fauna.com/

[2021-03-08 21:22] harcod opened #135 "South Boston CHC capitalization"
The city is coming back as **SOUTH BOSTON** and we are displaying whatever you send to the user.  Can you fix the Title Case for this item?

{
  version: 1,
  timestamp: '2021-03-08T211513Z',
  results: [
    {
      name: 'South Boston Community Health Center',
      street: '409 W Broadway',
      city: 'SOUTH BOSTON',
      zip: '02127-2245',
      signUpLink: 'https://forms.office.com/Pages/Re

[2021-03-09 01:14] dldereklee commented on #131
What would the database store?

[2021-03-09 01:21] johnhawkinson commented on #131
The database would store the output of all scrapers, so that we can do aggregate reporting on scraper output that is other than the latest run.

[2021-03-09 02:22] dldereklee commented on #131
Gotcha. I can put together a basic Postgres database and import the existing S3 data if that would be useful.

[2021-03-09 02:34] johnhawkinson commented on #131
Regardless of what db we adopt, were going to have to import all the historical data.
If you want to take the time to do so now (in such a way that you can easily update it again when we do the transition), and do the grunt work of figuring out the appropriate table schema, that seems like work that will be helpful regardless of whether we go with a relational db or a nosql-whatever-its-called, so

[2021-03-09 02:45] zpeyton commented on #131
In my opinion, something ready made and scalable might be the right fit for a project at this stage, which is why I recommended https://fauna.com. We just throw in a few env vars and off we go. It will make adding new records really fast and we will be able to focus on writing/fixing scrapers

[2021-03-09 15:52] livgust commented on #15
Hi @pfurbacher , do you have an update on this?

[2021-03-09 16:51] kriation commented on #131
@zpeyton Fauna looks like a great option. However, I'm concerned about the cost of $25/month versus using DynamoDB in the existing AWS account where the site lives. The cost for DynamoDB considering the amount of data we're processing will be considerably less than what Fauna is charging. With regard to security, the role being assumed by the lambda to scrape can be modified to authorize read/writ

[2021-03-09 17:07] zpeyton commented on #131
@kriation The cost difference is negligible when you look at how much time it will take to write the backend code and manage the infrastructure  necessary for getting the data in and out. It's a data API not only a database.

[2021-03-09 17:47] pfurbacher commented on #15
I started refactoring to make the code more testable, but if you'd like to get something into the repository to look at, I can clean the existing code up (e.g., remove log statements?) and then request guidance on how to do the pull request. I'm not well-versed in Git, having mostly with older VCS packages.

[2021-03-10 02:26] #21 closed

[2021-03-10 13:53] livgust opened #138 "Some MA sites are now hosted on Color.com"
Reggie Lewis
Fenway
Hynes
Gillette (East & West)

[2021-03-10 16:27] evan commented on #131
@zpeyton asked me to weigh in here.

I am partisan to Fauna for obvious reasons.

Nevertheless, I think the biggest difference for a project like this is the modeling flexibility. Dynamo is a key-value store at heart, and requires you to lay out your data according to its query pattern. This make iterating on your app difficult. Fauna is document/relational and lets you store data how you please.

[2021-03-10 17:09] tkjones117 commented on #131
Thanks so much @evan ! We'll certainly reach out for more info or assistance if we use decide to use Fauna.

[2021-03-10 23:43] harcod opened #141 "Heywood Healthcare Malformed Response"
Heywood Healthcare is returning:

    {
      "hasAppointments": false,
      "totalAvailability": 0,
      "latitude": 42.4072107,
      "longitude": -71.3824374
    },

It should be sending back much more information, but at least the NAME!

[2021-03-11 00:26] harcod opened #142 "Walgreens not updating"
The Walgreens scraper is not updating the production json file.  Last timestamp was over 8 hours ago (not since "2021-03-10T16:09:52.488Z")

When I run it locally, I do get new data and timestamps.

[2021-03-11 01:13] kriation commented on #141
If someone can assign this to me, I'll take this as I wrote the scraper.

[2021-03-11 14:51] zpeyton commented on #131
@evan Thank you again for taking time yesterday to speak with me. After we spoke, I played around with the `faunadb` node package and got the basics of what we need done in probably a total of 3 hours. See here https://github.com/livgust/covid-vaccine-scrapers/compare/fauna

[2021-03-12 16:12] tkjones117 commented on #131
After discussing this with @zpeyton and @livgust yesterday, we're going to move forward with Fauna, with the understanding that we can always switch to something else if it's not meeting our needs.
See our wiki for reasoning here: https://github.com/livgust/covid-vaccine-scrapers/wiki/DB-Tradeoffs

[2021-03-12 17:09] #141 closed

[2021-03-15 13:45] harcod opened #149 "Lowell General not updating"
The [prod.json](https://mzqsa4noec.execute-api.us-east-1.amazonaws.com/prod) file that the front-end is accessing has stale data for Lowell General.
When running the scraper locally, the entry is updated in the out.json files.  This is apparently not happening on the production server.

**_From prod.json"_** ` "timestamp": "2021-03-09T17:55:09.765Z",`

[code]

**_From locally run scraper_**  `time

[2021-03-15 15:37] tkjones117 commented on #117
@kriation I saw you have a PR (https://github.com/livgust/covid-vaccine-scrapers/pull/148) up that looks similar to this issue:
Maybe you can @j256 can sync up (on this ticket is fine) to make sure there isn't duplicative work, or perhaps @j256 wants to hand it off (in which case can you reassign to the right person) or pair/provide feedback.

[2021-03-15 16:44] j256 commented on #117
I think my work can be ignored, especially if someone else has taken it on.  If there is anything there of value please feel free to steal it.  I've been pulled away on another of my projects.  But I'm also happy to help if people hit a stumbling block.

[2021-03-16 14:32] livgust commented on #117
yeah, sorry - I assumed that since @kriation commented on @j256 's initial PR that he was just building off of that. I'll assign this issue to him and we'll use #148 as the main PR for this issue.

[2021-03-16 14:42] #11 closed

[2021-03-16 15:49] livgust commented on #96
Closing (wont-do) because Curative is now only for pre-registrants

[2021-03-16 15:49] #96 closed

[2021-03-16 15:52] livgust opened #153 "Add basic scraper monitoring"
- successful versus failure
- time elapsed

[2021-03-16 15:53] livgust commented on #153
branch name: monitoring

[2021-03-17 21:09] tkjones117 opened #156 "Enforce scraper output fields"
To make sure we have the write fields we need for writing to our FaunaDB, we should enforce that each scraper has certain outputs.
We can use a test to do this.

@livgust  started a branch to do this a while back: `results-shape-test`
https://github.com/livgust/covid-vaccine-scrapers/compare/results-shape-test

For FaunaDB, I need the following fields:
[code]
So this ticket would involve writing a

[2021-03-17 21:18] johnhawkinson commented on #156
In  #152, I added `siteTimestamp` as the optional time of the data as reported by the vendor's site.

[2021-03-18 16:31] harcod commented on #142
This apparently got better when RAM was increased and the Stealth version was updated.

[2021-03-18 16:31] #142 closed

[2021-03-19 14:13] #123 closed

[2021-03-19 14:16] livgust commented on #153
Coding is complete but alerts need to be added.

[2021-03-19 14:18] #8 closed

[2021-03-19 14:26] livgust opened #157 "Send notifications to users"
As a user, I want to be notified when a COVID appointment becomes available so I can sign up without actively monitoring for availability all day.

Acceptance criteria:

- User only receives notifications in their preferred method(s)
- User is told how many appointments are available and is given a sign-up link to click
- User can unsubscribe (can break this out into a separate issue)
- Messages a

[2021-03-19 14:28] tkjones117 commented on #156
@livgust is someone working on this rn? I see you moved to "review in progress".
also this ticket may be duped by https://github.com/livgust/covid-vaccine-scrapers/issues/79

This will help unblock FaunaDB work so it would be good to get someone on it if no one is

[2021-03-22 19:17] harcod opened #163 "Add Southcoast Health"
https://www.southcoast.org/covid-19-vaccine-scheduling/#/slot-search/covid/resource-type/98C5A8BE-25D1-4125-9AD5-1EE64AD164D2

[2021-03-22 19:18] harcod opened #164 "Add Trinity Health of New England"
https://apps.sphp.com/THofNECOVIDVaccinations/index.php

[2021-03-22 19:20] harcod opened #165 "Add Harrington Healthcare"
https://app.acuityscheduling.com/schedule.php?owner=22192301&calendarID=5202038

[2021-03-22 19:21] harcod opened #166 "Add Mass General Brigham"
This is for Martha's Vineyard Hospital and Nantucket VFW

https://covidvaccine.massgeneralbrigham.org/

[2021-03-22 19:22] harcod opened #167 "Add Milford Regional"
https://www.milfordregional.org/coronavirus-covid-19-update/

[2021-03-22 19:23] harcod opened #168 "Add Baystate Health"
https://workwell.apps.baystatehealth.org/guest/covid-vaccine/register?r=mafirstresp210121

[2021-03-22 19:24] harcod opened #169 "Add Whittier Health"
https://www.whittierhealth.com/covid-vaccine-clinics/

[2021-03-22 19:25] harcod opened #170 "Add Amherst Clinic"
https://www.amherstcovid19.org/vaccine

[2021-03-22 19:30] harcod opened #171 "Add ZocDoc"
This is the top-level page: https://www.zocdoc.com/vaccine

This appears to be Massachusetts:
https://www.zocdoc.com/vaccine/search/MA?flavor=state-search

Here is the original link supplied by @livgust (although this goes to a 404 right now)
https://www.zocdoc.com/wl/tuftscovid19vaccination/practice/64825?reason_visit=5243

This is the top-level section for Tufts, but the above link
https://www.t

[2021-03-22 20:30] tkjones117 commented on #156
bump @livgust and also @harcod. Rob are you working on this?

[2021-03-22 20:31] tkjones117 commented on #156
bump @livgust, wondering the status on this. I assume no one is working on it?

[2021-03-22 21:37] harcod commented on #171
![image (1)](https://user-images.githubusercontent.com/546007/112061419-dc914400-8b34-11eb-8130-e464fc67d492.png)

I have the associated HTML file and can send that to you. Just ask.

[2021-03-22 22:26] tkjones117 opened #172 "Write scraper output to Fauna"
For each scraper, call the util method writeScrapedData() to write to FaunaDB. Start with one, verify it works, continue with all by calling it from scraper.js

[2021-03-22 22:36] tkjones117 opened #173 "Read Fauna data (and test it works)"
Implement utility `getAppointmentsForAllLocations()`. Use the DB's indexes to grab each location’s most recent scraper run’s data. Verify this works by writing tests for this.

[2021-03-22 22:39] tkjones117 opened #174 "Add lambda to trigger data reading"
In the new lambda, trigger the utility to read the data from Fauna (`getAppointmentsForAllLocations`). Make the frontend call this lambda instead of the one that just reads from S3.

[2021-03-22 22:44] tkjones117 commented on #131
I broke this big ticket into multiple smaller ones here: https://github.com/livgust/covid-vaccine-scrapers/milestone/1

I'll close this one in favor of that. But while I have your attention, I would appreciate some eyes on the first PR for this migration! https://github.com/livgust/covid-vaccine-scrapers/pull/150

[2021-03-22 22:44] #131 closed

[2021-03-23 05:41] pfurbacher commented on #165
I might be wrong, but from what I can tell, Harrington has switched scheduling from signup.com to Acuity Scheduling. If this is correct, the current Harrington scraper, based on signup.com and Google forms, is out-dated.

The URL above is for the non-restricted registration. The URL for the town restricted registration is:

https://app.acuityscheduling.com/schedule.php?owner=22192301&calendarID=52

[2021-03-23 15:20] livgust commented on #165
You're brilliant! In the meantime I'm going to delete the existing harrington scraper, or at least ensure it doesn't run

[2021-03-23 16:48] kriation commented on #15
The Trinity EMS tests that ran as part of an unrelated PR (#176) earlier this morning are failing.
[code]

[2021-03-23 17:46] tkjones117 commented on #15
@kriation what makes you say that these are Trinity EMS Tests? these are in `metrics.js`, I think unrelated to Trinity EMS

[2021-03-23 17:48] kriation commented on #15
@tkjones117 My apologies! I didn't note the files referenced in the stack trace. Disregard. :)

[2021-03-23 17:53] tkjones117 commented on #15
no problem! thanks for reporting it

[2021-03-23 18:02] livgust commented on #15
fixed! sorry about that

[2021-03-23 18:03] livgust commented on #15
Closed by #137

[2021-03-23 18:03] #15 closed

[2021-03-23 23:49] pfurbacher opened #177 "Trinity EMS scheduling is now private; scraper needs updating"
I'd appreciate it if those who read this issue try the Trinity EMS URL(https://app.acuityscheduling.com/schedule.php?owner=21713854&calendarID=5109380) to corroborate what I'm seeing (image included below).

It appears that Trinity EMS has changed their approach to scheduling: all appointments are now indicated as private and not available for scheduling. With this change, the selectors (e.g., use

[2021-03-24 00:16] harcod commented on #177
Yes, I'm seeing the same "private" message above.

[2021-03-24 00:35] pfurbacher commented on #177
Thanks for the confirmation.

[2021-03-24 00:47] kriation commented on #168
@harcod Is this a duplicate of #11? The closed PR is #102.

[2021-03-24 00:48] kriation commented on #117
Can this be closed given @livgust completed #162?

[2021-03-24 01:11] harcod commented on #168
I got the url from @livgust

[2021-03-24 01:46] kriation commented on #168
@harcod - Yep. That's the [link](https://github.com/livgust/covid-vaccine-scrapers/pull/102/files#diff-03ffc9e6023468d2a06c339dad2e153949362b8aa6be81204ff1666e5ff4ab8eR399) I used in the scraper.

[2021-03-24 01:52] pfurbacher commented on #177
As I rework this scraper, I'm wondering if it's valuable to add as a restriction in the result object returned from the scraper that appointments are private, as in the following?

[code]

[2021-03-24 12:31] livgust commented on #177
Hey Paul! 3 things.
1) We should always return hasAvailability: true/false if we have a successful scrape.
2) 'restrictions' is meant for locations that only allow certain residents, so that's not the place to put that information. Perhaps you could put it in extraData?
3) I think we should still scrape this site because https://trinityems.com/what-we-do/covid-19-vaccine-clinics/ insists that they

[2021-03-24 14:43] pfurbacher commented on #177
1. Not sure what happened to the `availability` and `hasAvailability` properties (sloppy finger taps on the trackpad while editing the out.json copy? I sometimes end up deleting/overwriting large swaths because of this!). See current (actual, not edited) `out.json` pasted below.
2. `extraData` is it.
3. If we keep it, the scraper needs to send notify us (via s3 and slack) should they change the pr

[2021-03-24 15:45] relm923 commented on #170
Looks like this has been replaced with https://uma.force.com/covidtesting/s/vaccination

[2021-03-26 02:47] pfurbacher commented on #171
Starting at [Tufts Vaccine Scheduling front page](https://www.tuftsmcvaccine.org/), I started digging into the XHR network chatter which results from navigating to the calendar page. What I think are the important pieces are written up in the following:

[zodoc-tufts notes.txt](https://github.com/livgust/covid-vaccine-scrapers/files/6209013/zodoc-tufts.notes.txt)

If those of you who are cleverer

[2021-03-26 03:33] livgust commented on #171
@pfurbacher I found the same thing as you - that gql POST should be all we need for Tufts. I'm a little confused what you're looking for and what you're saying about the other locations. Are you having trouble getting the data for all of them, or just the ones that aren't Tufts?

I tried the fetch query you had in your notes on plain ol' google.com (from the console in the dev tools) and it failed

[2021-03-26 05:36] pfurbacher commented on #171
I was looking at the other Zocdoc sites (AFC UC and Holtzman) and didn't have success getting data. (Can't remember what the error was -- I'll dig up the code and report back later.) With this Tufts issue, I was just going through the newest issues and noticed Rob had made some progress with a Zocdoc-powered site, so I decided to look at this as well. Since I had failed with the earlier fetch atte

[2021-03-26 17:50] relm923 commented on #171
[code]

This appears to be working just fine without authentication or any CORS related fixes

[2021-03-27 13:40] harcod commented on #87
This was essentially eliminated recently as the state moved the MassVax sites off of this site.

[2021-03-27 13:40] #87 closed

[2021-03-29 19:30] pfurbacher commented on #171
@relm923 : Thanks for the info. Quite helpful.

[2021-03-29 19:37] pfurbacher commented on #171
One note: AFC Urgent Care Springfield will come up as one of the sites, but they say that all vaccinations (when available) will be done at the West Springfield office. We will give the address of the Springfield office, but I'm thinking we should have `extraData` which says "Appointments for the vaccine are only available at AFC Urgent Care West Springfield at this time." As time goes on, we'll h

[2021-03-29 20:39] tkjones117 commented on #156
After some discussion with @livgust today, this is not a blocker for moving forward with the DB migration. It's a nice-to-have regardless of using S3/Fauna. But we can proceed with Fauna without being 100% sure that our scraper outputs match a certain structure, since that's what we do with S3 publishing as-is.

[2021-03-30 02:20] pfurbacher commented on #171
I need a sanity check: are these results in the right structure? (Note that `results` is an array of sites. Is that correct?)

[code]

[2021-03-30 02:29] iann commented on #171
Hi @pfurbacher That's close. I believe the results are supposed to be in the following format.

[code]

[2021-03-30 15:41] rjcohn opened #197 "Duplicate entries in saved JSON"
I've noticed a bunch of duplicates in the cached JSON, usually with not quite matching addresses. For example, in the JSON with this timestamp: 2021-03-30T141231Z

Gillette Stadium - EAST Clinic Gillette Stadium
Gillette Stadium - East 1 Patriot Pl.
Gillette Stadium - WEST Clinic Gillette Stadium
Gillette Stadium - West 1 Patriot Pl.
Hannaford (Middleborough) 8 Merchants Way
Hannaford (Middleborou

[2021-03-30 16:10] harcod commented on #171
Don't forget to add the **timestamp** for each location.
It's just `timestamp: new Date(),`

[code]

[2021-03-30 17:16] rjcohn commented on #197
Thanks. I'll add that filter.

[2021-03-30 17:16] #197 closed

[2021-03-30 18:49] #117 closed

[2021-03-31 05:37] pfurbacher commented on #164
Is anyone working on this? If not, I'll give it a go.

[2021-03-31 18:47] harcod commented on #164
You are correct! This is just a different name for the same place.

![image](https://user-images.githubusercontent.com/546007/113195189-f8c96b00-922f-11eb-802e-62b537733fe8.png)

[2021-03-31 18:47] #164 closed

[2021-04-01 13:37] livgust commented on #171
closed by #192

[2021-04-01 13:37] #171 closed

[2021-04-01 13:37] #168 closed

[2021-04-01 13:38] #37 closed

[2021-04-01 13:39] livgust commented on #165
#180 closes this

[2021-04-01 13:42] livgust opened #200 "Walgreens reporting is overoptimistic"
We are correctly showing first dose availability, but for every appointment there is then another check for availability 4 weeks later. If that fails, you cannot book.
[code]
(some headers and other things not included in the above snippet)

[2021-04-01 13:43] livgust opened #201 "UMass Amherst reports second doses as first doses (sorta)"
We're reporting availability at UMass Amherst when really it's only second doses.

[2021-04-01 18:51] pfurbacher commented on #156
I'm wondering if the `readme.md` should have a section added which will provide this list to new developers? Something like the following inserted right after the bullet point about using puppeteer:
***

A scraper may return data for a single site, or an array of data in cases where multiple sites are powered by the same vendor (e.g., Color, MyChart, ZocDoc). For each site, the scraper should retu

[2021-04-01 19:30] tkjones117 commented on #156
I think this would be a good addition to the README, if you don't mind opening a PR to add it.

[2021-04-02 13:16] tkjones117 commented on #172
PRs that accomplished this:
- https://github.com/livgust/covid-vaccine-scrapers/pull/181
- https://github.com/livgust/covid-vaccine-scrapers/pull/202

[2021-04-02 13:16] #172 closed

[2021-04-02 13:23] #201 closed

[2021-04-02 13:28] harcod commented on #167
There is no way to signup on the website at this time and it appears they are getting out of the vaccine business altogether.

From their website...

[2021-04-02 13:28] #167 closed

[2021-04-02 13:40] johnhawkinson commented on #200
Note that when this is addressed, the test that was skipped in c70477a6cd951292a88bac10c8c8e0856ef6c766's  `test/WalgreensDataFormatter.js` hunk should also be restored or otherwise addressed.

[2021-04-02 21:47] tkjones117 commented on #173
PR: https://github.com/livgust/covid-vaccine-scrapers/pull/210/files

Next step: test this works when we call `getResultsForAllLocations` on the full collection.

[2021-04-04 02:08] #17 closed

[2021-04-04 02:08] #13 closed

[2021-04-04 12:55] harcod opened #213 "MyChartAPITest.js fails"
**The following test is being skipped until this is resolved**

Line 429: `it("should add site info and default data to results object")`

The test is looking for availability on April 3, 2021 **which it now in the past**.  The API filters out any appointments before the _current time_.

This test suite needs to be independent of the time that the test is executed.

[2021-04-05 13:40] livgust commented on #177
#178 closes this

[2021-04-05 13:43] livgust opened #214 "Add scraper hierarchy"
Some scrapers dynamically generate locations based on what is pulled from the website. Most of these websites do not show locations if there is no availability, in which case we act as if there is no updated data (and show stale availability) instead of saying there's nothing available.

To solve this issue, we add parentLocations and parentScraperRuns to our DB. There will be one parentLocation p

[2021-04-05 13:43] livgust commented on #214
branch: `add-parent-rows`

[2021-04-05 13:58] harcod commented on #214
Walgreens is the prime example of this problem.

[2021-04-05 14:15] harcod opened #215 "Heywood Healthcare not scraping"
I received a notice from another site of availability at Heywood Healthcare this morning at 4/5/21 10:03am.

We reported 0.
![image](https://user-images.githubusercontent.com/546007/113583549-c33dcc80-95f7-11eb-91ba-a221f9059c80.png)

[2021-04-05 18:54] hashg opened #217 "node scraper.js fails"
1. clone
2. `npm install`
3. create .env
4. run `node scraper.js`

ERROR
[code]

[2021-04-05 19:08] harcod commented on #217
It sounds like you are not running Node v14.

[2021-04-05 19:10] harcod commented on #217
from package.json, there is a version requirement:
[code]

[2021-04-05 19:33] #217 closed

[2021-04-06 15:04] harcod commented on #149
This does not appear to be happening anymore.

[2021-04-06 15:04] #149 closed

[2021-04-07 01:48] #200 closed

[2021-04-07 01:51] livgust commented on #88
Closing - won't do - reopen if we feel strongly about this

[2021-04-07 01:51] #88 closed

[2021-04-07 01:52] livgust commented on #113
Things have stabilized now, so closing as a won't-do. Reopen if you disagree and want to do it!

[2021-04-07 01:52] #113 closed

[2021-04-08 15:57] tkjones117 commented on #173
This is the logic we need to write a Fauna query/code for (in as few queries to the DB as possible):

For each parentlocation, get latest parentScraperRun.
For each latest parentScraperRun, get each child scraperRun.
For each child scraperRun, combine that scraperRun info with the corresponding location's info and appointments' info and add to a list.

In the end, we want to return a list of resul

[2021-04-09 13:00] kriation commented on #215
@harcod - Do we have HTML or an image capture of the site when the appointments were available?

[2021-04-09 18:30] harcod commented on #215
@kriation - https://macovidvaccines.harcod.com/html/gardnervaccinations.as.me-schedule.php.html

[2021-04-10 11:49] #86 closed

[2021-04-10 23:29] pfurbacher opened #228 "Add scraper for Greater Lawrence Family Health Center"
The Greater Lawrence FHC has 4 locations where they offer vaccinations, each of which has its own availability page. The site is powered by Acuity Scheduling (see Trinity EMS and Harrington). Even though it might be tempting to consolidate all Acuity sites into one scraper, I propose we add a scraper specifically for GL FHC: faster to write, test and deploy. One of the locations has been showing a

[2021-04-11 00:27] livgust commented on #228
Hey @pfurbacher thanks so much! Do you have something ready for a PR or not yet?

[2021-04-11 00:33] pfurbacher commented on #228
Yes, I was waiting for a confirmation that we should add these 4 sites. Doing the PR now.

[2021-04-13 04:38] pfurbacher commented on #215
I don't know if @kriation is working on this but just out of curiosity, I did some digging into Heywood HC, and found it's another Acuity Scheduling powered site, but an interesting variant. I was able to borrow a good bit of code from the Greater Lawrence FHC scraper (non-browser approach), got the "More Times" page advancing mechanism working, and was pulling in bucket loads of slots this aftern

[2021-04-13 11:58] kriation commented on #215
All yours @pfurbacher. I won't have cycles to work on this bug until the coming weekend. Nice find!

[2021-04-13 18:54] #228 closed

[2021-04-13 19:32] harcod opened #236 "Lowell General: new site"
Lowell General appears to have completely revamped their scheduling site.  However, they left the "no appointments" messaging intact **in an HTML comment**, so the scraper gracefully exits by reporting "no appointments"

[2021-04-13 19:47] pfurbacher commented on #170
How important is it to get this scraper going? The only changes I would make are to update the `config.js` file with the new URL, and maybe add an s3/slackMsg block in case the "No appointments available" comment isn't found.

[2021-04-13 19:56] pfurbacher commented on #169
Has anyone started work on this?

[2021-04-13 20:13] harcod commented on #170
@livgust These are actually separate. I think this can probably be closed now.

https://uma.force.com/covidtesting/s/vaccination is done already. (UMassAmherst)

The original link was added to the mass vaccination sites and subject to preregistration via https://vaccinesignup.mass.gov

[2021-04-13 20:52] harcod commented on #170
Based on the above, I'm closing this issue.

[2021-04-13 20:52] #170 closed

[2021-04-17 14:56] harcod opened #239 "Notification "HELP" message"
We don't send a reply when the user sends "HELP".

Our reply message to a "yes" states:

[2021-04-17 15:23] harcod commented on #239
Suggested Text:

[2021-04-17 17:52] harcod commented on #169
Closed by #238

[2021-04-17 17:52] #169 closed

[2021-04-19 12:30] pfurbacher opened #241 "Remove extraData about vaccine type from GL FHC, 45 Franklin Street"
The extraData says that the location offers J&J. The other three GL FHC locations don't specify vaccine type. Removing the extraData would be the quickest and most consistent way of handling this.

[2021-04-19 17:52] pfurbacher opened #243 "Improve BMC to get sites dynamically via a settings page"
BMC's version of MyChart offers a "settings" page* from which all the provider and department IDs can be obtained.
Add a fetch to the current BMC scraper to get these, and parse the returned response to get the data.

Kudos to the folks at VaccineTimes
  (https://github.com/ginkgobioworks/vaccinetime/blob/main/lib/sites/my_chart.rb)
who somehow discovered this settings URL.

[2021-04-21 22:54] #239 closed

[2021-04-22 02:50] pfurbacher opened #247 "Add Walmart scraper"
Some initial considerations:

1. Login is required to access appointment data by a scraper.
    - This requires puppeteer to enter user name and password, and then click a submit button.
    - Also it requires a customer account for development and for production; the credential settings reside in `.env`.
         - WALMART_EMAIL="\<email address>"
         - WALMART_PASSWORD="\<password>"

[2021-04-22 16:43] #243 closed

[2021-04-22 16:43] #241 closed

[2021-04-22 16:43] #215 closed

[2021-04-22 16:45] harcod commented on #166
Fixed by #240

[2021-04-22 16:45] #166 closed

[2021-04-22 16:45] harcod commented on #156
Fixed by #216

[2021-04-22 16:45] #156 closed

[2021-04-22 20:01] #165 closed

[2021-04-22 20:01] #79 closed

[2021-04-23 21:16] harcod opened #249 "HarborHealth scraper"
Via local news article:
https://www.capecod.com/newscenter/harbor-health-and-town-of-barnstable-open-covid-vaccine-clinic/

The article has a link to the myChart URL: (via http://bit.ly/3goTWQC )
https://mychartos.ochin.org/mychart/SignupAndSchedule/EmbeddedSchedule?id=3210339&dept=222004005&vt=1089

[2021-04-23 21:18] harcod commented on #249
Harbor Health web site...
https://www.hhsi.us/patient-information/covid-19-vaccine/

[2021-04-24 03:34] #249 closed

[2021-04-25 06:40] pfurbacher commented on #247
It turns out that once you log in, and are taken to the "Pharmacies offering COVID-19 vaccination" page, it's not necessary to manipulate zip code input to be able to fetch for stores outside the radius. From the dev tools console, you can fetch any store ID, and get its "time-slots" JSON.

The only problem is that when trying to do this fetching in page.evaluate(), except for one instance, the re

[2021-04-28 00:25] #214 closed

[2021-04-28 00:25] livgust commented on #174
Done!

[2021-04-28 00:25] #174 closed

[2021-04-28 00:25] livgust commented on #157
Done!

[2021-04-28 00:25] #157 closed

[2021-04-28 00:26] #173 closed

[2021-04-28 00:27] #116 closed

[2021-04-28 00:31] livgust opened #254 "Update signUpLink and extraData to have different languages"
[code]

[2021-04-28 00:32] livgust opened #255 "Add phone # with languages"
Some locations have a phone # instead of a link. To get more complicated, some have a phone # for certain languages (generally, anything other than English). So, add something like:

[code]

[2021-04-29 02:48] pfurbacher opened #258 "Whittier Health scraper failing"
The SignupGenius HTML powering the Whittier Health site has changed such that the scraper was no longer getting availability.

[2021-04-29 13:43] pfurbacher commented on #255
The attached file contains an assessment of the multilingual accommodations on websites we scrape. There may be things that I missed, so consider this a first-pass.

[Multi-lingual accommodations.txt](https://github.com/livgust/covid-vaccine-scrapers/files/6398969/Multi-lingual.accommodations.txt)

[2021-04-29 14:09] harcod commented on #255
[Harbor Health](https://www.hhsi.us/patient-information/covid-19-vaccine/) _which we don't link to_

    Select your language:
        English
        Español
        Kreyòl ayisyen
        Português
        Tiếng Việt

Call 1-888-503-0766 to make an appointment. We can assist with appointments in English, Spanish, Portuguese.

For scheduling assistance in Vietnamese, please call 1-617-533-2363. Đ

[2021-04-29 16:33] pfurbacher opened #261 "Harrington not showing existing availability"
It looks like a timing issue is preventing the scraper from getting availability. Adding waitForSelector seems to fix that.

[2021-04-30 02:10] #258 closed

[2021-04-30 02:10] #261 closed

[2021-05-08 17:48] harcod opened #273 "Walgreens Failure"
Walgreens scraper is no longer functional.  The logs are returning the following response 15 times, then 3 null error responses.

[code]

[2021-05-17 19:51] harcod opened #279 "Price Chopper & Health Mart Failure"
Apparently, the Price Chopper has been failing since May 12, 2021.
The Health Mart scraper is the same code base as Price Chopper.  It too is failing.

[2021-05-20 02:05] livgust commented on #279
fixed - needed to add "&userAge=21" (21 was chosen to pick up all vaccine types) to query string

[2021-05-20 02:06] #247 closed

[2021-05-20 02:06] #273 closed

[2021-05-20 02:49] pfurbacher opened #282 "Wiki page has typo in title"
Small nit: the title of the Wiki page on how availability should be structured reads: "Availabilty Structure". It's missing the third "i".

[2021-05-20 21:14] harcod opened #283 "Pediatric Associates of Greater Salem"
The location just shows up with _'slot'_ (no number)
![image](https://user-images.githubusercontent.com/546007/119049393-76873880-b98e-11eb-8a91-0e787d59b2fa.png)

The data has an object for the dated entry instead of a number.
[code]

[2021-05-20 21:15] harcod commented on #279
This doesn't appear to be working as there is no reported availability at Price Chopper.

[2021-05-21 22:29] harcod commented on #279
@pfurbacher is working on this now.

[2021-05-24 17:21] pfurbacher commented on #279
@harcod : I think you meant to assign me to #283

[2021-05-24 17:35] harcod commented on #279
Oops. Sorry. You are right. I couldn't assign you because I didn't have enough privileges

[2021-05-29 14:51] harcod commented on #282
Fixed!

[2021-05-29 14:51] #282 closed